In [14]:
Drop table if EXISTS Employees;
CREATE TABLE Employees (
  employee_id INT PRIMARY KEY,
  first_name VARCHAR(50),
  last_name VARCHAR(50),
  department_id INT,
  salary int
);
Drop table if EXISTS Departments;
CREATE TABLE Departments (
  department_id INT PRIMARY KEY,
  department_name VARCHAR(50)
);

In [17]:
-- Inserting dummy data into the Departments table
INSERT INTO Departments (department_id, department_name)
VALUES
  (1, 'Sales'),
  (2, 'Marketing'),
  (3, 'Finance'),
  (4, 'Human Resources'),
  (5, 'IT');

-- Inserting dummy data into the Employees table
INSERT INTO Employees (employee_id, first_name, last_name, department_id, salary)
VALUES
  (1, 'John', 'Doe', 1, 5000),
  (2, 'Jane', 'Smith', 2, 10000),
  (3, 'Mike', 'Johnson', 1, 6000),
  (4, 'Emily', 'Williams', 3, 5000),
  (5, 'David', 'Brown', 4, 8000),
  (6, 'Sarah', 'Miller', 5, 7000);

In [18]:
select * from Employees

employee_id,first_name,last_name,department_id,salary
1,John,Doe,1,5000
2,Jane,Smith,2,10000
3,Mike,Johnson,1,6000
4,Emily,Williams,3,5000
5,David,Brown,4,8000
6,Sarah,Miller,5,7000

In [8]:
select * 
from Employees 
where department_id = (select department_id 
                        from Departments 
                        where department_name='Sales')

employee_id,first_name,last_name,department_id
1,John,Doe,1
3,Mike,Johnson,1

In [19]:
select department_name, count(employee_id) as "Count of Employees"
from Departments D
left join Employees E
on D.department_id = E.department_id
group by department_name

department_name,Count of Employees
Finance,1
Human Resources,1
IT,1
Marketing,1
Sales,2

<span style="border: 0px solid rgb(217, 217, 227); box-sizing: border-box; --tw-border-spacing-x: 0; --tw-border-spacing-y: 0; --tw-translate-x: 0; --tw-translate-y: 0; --tw-rotate: 0; --tw-skew-x: 0; --tw-skew-y: 0; --tw-scale-x: 1; --tw-scale-y: 1; --tw-pan-x: ; --tw-pan-y: ; --tw-pinch-zoom: ; --tw-scroll-snap-strictness: proximity; --tw-gradient-from-position: ; --tw-gradient-via-position: ; --tw-gradient-to-position: ; --tw-ordinal: ; --tw-slashed-zero: ; --tw-numeric-figure: ; --tw-numeric-spacing: ; --tw-numeric-fraction: ; --tw-ring-inset: ; --tw-ring-offset-width: 0px; --tw-ring-offset-color: #fff; --tw-ring-color: rgba(69,89,164,0.5); --tw-ring-offset-shadow: 0 0 transparent; --tw-ring-shadow: 0 0 transparent; --tw-shadow: 0 0 transparent; --tw-shadow-colored: 0 0 transparent; --tw-blur: ; --tw-brightness: ; --tw-contrast: ; --tw-grayscale: ; --tw-hue-rotate: ; --tw-invert: ; --tw-saturate: ; --tw-sepia: ; --tw-drop-shadow: ; --tw-backdrop-blur: ; --tw-backdrop-brightness: ; --tw-backdrop-contrast: ; --tw-backdrop-grayscale: ; --tw-backdrop-hue-rotate: ; --tw-backdrop-invert: ; --tw-backdrop-opacity: ; --tw-backdrop-saturate: ; --tw-backdrop-sepia: ; font-weight: 600; color: var(--tw-prose-bold); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; white-space: pre-wrap; background-color: rgb(68, 70, 84);">Question:</span> <span style="color: rgb(209, 213, 219); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; white-space: pre-wrap; background-color: rgb(68, 70, 84);"> Write a query to find the employee with the highest salary from the "Employees" table.</span>

In [21]:
select first_name, salary from Employees 
where salary = (select max(salary) from Employees)

first_name,salary
Jane,10000

<span style="border: 0px solid rgb(217, 217, 227); box-sizing: border-box; --tw-border-spacing-x: 0; --tw-border-spacing-y: 0; --tw-translate-x: 0; --tw-translate-y: 0; --tw-rotate: 0; --tw-skew-x: 0; --tw-skew-y: 0; --tw-scale-x: 1; --tw-scale-y: 1; --tw-pan-x: ; --tw-pan-y: ; --tw-pinch-zoom: ; --tw-scroll-snap-strictness: proximity; --tw-gradient-from-position: ; --tw-gradient-via-position: ; --tw-gradient-to-position: ; --tw-ordinal: ; --tw-slashed-zero: ; --tw-numeric-figure: ; --tw-numeric-spacing: ; --tw-numeric-fraction: ; --tw-ring-inset: ; --tw-ring-offset-width: 0px; --tw-ring-offset-color: #fff; --tw-ring-color: rgba(69,89,164,0.5); --tw-ring-offset-shadow: 0 0 transparent; --tw-ring-shadow: 0 0 transparent; --tw-shadow: 0 0 transparent; --tw-shadow-colored: 0 0 transparent; --tw-blur: ; --tw-brightness: ; --tw-contrast: ; --tw-grayscale: ; --tw-hue-rotate: ; --tw-invert: ; --tw-saturate: ; --tw-sepia: ; --tw-drop-shadow: ; --tw-backdrop-blur: ; --tw-backdrop-brightness: ; --tw-backdrop-contrast: ; --tw-backdrop-grayscale: ; --tw-backdrop-hue-rotate: ; --tw-backdrop-invert: ; --tw-backdrop-opacity: ; --tw-backdrop-saturate: ; --tw-backdrop-sepia: ; font-weight: 600; color: var(--tw-prose-bold); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; white-space: pre-wrap; background-color: rgb(68, 70, 84);">Question:</span> <span style="color: rgb(209, 213, 219); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; white-space: pre-wrap; background-color: rgb(68, 70, 84);"> Write a query to retrieve the names of employees whose first name starts with 'J' from the "Employees" table.</span>

In [22]:
select first_name from Employees 
where first_name like ('J%')

first_name
John
Jane

<span style="border: 0px solid rgb(217, 217, 227); box-sizing: border-box; --tw-border-spacing-x: 0; --tw-border-spacing-y: 0; --tw-translate-x: 0; --tw-translate-y: 0; --tw-rotate: 0; --tw-skew-x: 0; --tw-skew-y: 0; --tw-scale-x: 1; --tw-scale-y: 1; --tw-pan-x: ; --tw-pan-y: ; --tw-pinch-zoom: ; --tw-scroll-snap-strictness: proximity; --tw-gradient-from-position: ; --tw-gradient-via-position: ; --tw-gradient-to-position: ; --tw-ordinal: ; --tw-slashed-zero: ; --tw-numeric-figure: ; --tw-numeric-spacing: ; --tw-numeric-fraction: ; --tw-ring-inset: ; --tw-ring-offset-width: 0px; --tw-ring-offset-color: #fff; --tw-ring-color: rgba(69,89,164,0.5); --tw-ring-offset-shadow: 0 0 transparent; --tw-ring-shadow: 0 0 transparent; --tw-shadow: 0 0 transparent; --tw-shadow-colored: 0 0 transparent; --tw-blur: ; --tw-brightness: ; --tw-contrast: ; --tw-grayscale: ; --tw-hue-rotate: ; --tw-invert: ; --tw-saturate: ; --tw-sepia: ; --tw-drop-shadow: ; --tw-backdrop-blur: ; --tw-backdrop-brightness: ; --tw-backdrop-contrast: ; --tw-backdrop-grayscale: ; --tw-backdrop-hue-rotate: ; --tw-backdrop-invert: ; --tw-backdrop-opacity: ; --tw-backdrop-saturate: ; --tw-backdrop-sepia: ; font-weight: 600; color: var(--tw-prose-bold); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; white-space: pre-wrap; background-color: rgb(68, 70, 84);">Question:</span> <span style="color: rgb(209, 213, 219); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; white-space: pre-wrap; background-color: rgb(68, 70, 84);"> Write a query to retrieve the employee names and their corresponding department names from the "Employees" and "Departments" tables. </span> <span style="border: 0px solid rgb(217, 217, 227); box-sizing: border-box; --tw-border-spacing-x: 0; --tw-border-spacing-y: 0; --tw-translate-x: 0; --tw-translate-y: 0; --tw-rotate: 0; --tw-skew-x: 0; --tw-skew-y: 0; --tw-scale-x: 1; --tw-scale-y: 1; --tw-pan-x: ; --tw-pan-y: ; --tw-pinch-zoom: ; --tw-scroll-snap-strictness: proximity; --tw-gradient-from-position: ; --tw-gradient-via-position: ; --tw-gradient-to-position: ; --tw-ordinal: ; --tw-slashed-zero: ; --tw-numeric-figure: ; --tw-numeric-spacing: ; --tw-numeric-fraction: ; --tw-ring-inset: ; --tw-ring-offset-width: 0px; --tw-ring-offset-color: #fff; --tw-ring-color: rgba(69,89,164,0.5); --tw-ring-offset-shadow: 0 0 transparent; --tw-ring-shadow: 0 0 transparent; --tw-shadow: 0 0 transparent; --tw-shadow-colored: 0 0 transparent; --tw-blur: ; --tw-brightness: ; --tw-contrast: ; --tw-grayscale: ; --tw-hue-rotate: ; --tw-invert: ; --tw-saturate: ; --tw-sepia: ; --tw-drop-shadow: ; --tw-backdrop-blur: ; --tw-backdrop-brightness: ; --tw-backdrop-contrast: ; --tw-backdrop-grayscale: ; --tw-backdrop-hue-rotate: ; --tw-backdrop-invert: ; --tw-backdrop-opacity: ; --tw-backdrop-saturate: ; --tw-backdrop-sepia: ; font-weight: 600; color: var(--tw-prose-bold); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; white-space: pre-wrap; background-color: rgb(68, 70, 84);">Solution:</span>

In [24]:
select first_name, department_name
from Employees E
left join Departments D
on E.department_id = D.department_id

first_name,department_name
John,Sales
Jane,Marketing
Mike,Sales
Emily,Finance
David,Human Resources
Sarah,IT

<span style="border: 0px solid rgb(217, 217, 227); box-sizing: border-box; --tw-border-spacing-x: 0; --tw-border-spacing-y: 0; --tw-translate-x: 0; --tw-translate-y: 0; --tw-rotate: 0; --tw-skew-x: 0; --tw-skew-y: 0; --tw-scale-x: 1; --tw-scale-y: 1; --tw-pan-x: ; --tw-pan-y: ; --tw-pinch-zoom: ; --tw-scroll-snap-strictness: proximity; --tw-gradient-from-position: ; --tw-gradient-via-position: ; --tw-gradient-to-position: ; --tw-ordinal: ; --tw-slashed-zero: ; --tw-numeric-figure: ; --tw-numeric-spacing: ; --tw-numeric-fraction: ; --tw-ring-inset: ; --tw-ring-offset-width: 0px; --tw-ring-offset-color: #fff; --tw-ring-color: rgba(69,89,164,0.5); --tw-ring-offset-shadow: 0 0 transparent; --tw-ring-shadow: 0 0 transparent; --tw-shadow: 0 0 transparent; --tw-shadow-colored: 0 0 transparent; --tw-blur: ; --tw-brightness: ; --tw-contrast: ; --tw-grayscale: ; --tw-hue-rotate: ; --tw-invert: ; --tw-saturate: ; --tw-sepia: ; --tw-drop-shadow: ; --tw-backdrop-blur: ; --tw-backdrop-brightness: ; --tw-backdrop-contrast: ; --tw-backdrop-grayscale: ; --tw-backdrop-hue-rotate: ; --tw-backdrop-invert: ; --tw-backdrop-opacity: ; --tw-backdrop-saturate: ; --tw-backdrop-sepia: ; font-weight: 600; color: var(--tw-prose-bold); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; white-space: pre-wrap; background-color: rgb(68, 70, 84);">Question:</span> <span style="color: rgb(209, 213, 219); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; white-space: pre-wrap; background-color: rgb(68, 70, 84);"> Write a query to retrieve the employee names and their corresponding department names for employees who have a salary greater than $50,000 from the "Employees" and "Departments" tables.</span>

In [25]:
select first_name, last_name, salary
from Employees E
left join Departments D
on E.department_id = D.department_id
where salary > 7000;

first_name,last_name,salary
Jane,Smith,10000
David,Brown,8000

  

<span style="color: rgb(209, 213, 219); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; white-space: pre-wrap; background-color: rgb(68, 70, 84);">Write a SQL query to retrieve all customers who have placed orders in the month of April 2023.</span>

In [26]:
select * from Orders;

order_id,customer_id,order_date,ship_country
1,1,2019-01-01,Germany
2,2,2019-01-02,Mexico
3,3,2019-01-03,Mexico
4,4,2019-01-04,UK
5,5,2019-01-05,Sweden

In [27]:
select * from Customers;

customer_id,company_name,contact_name,country
1,Alfreds Futterkiste,Maria Anders,Germany
2,Ana Trujillo Emparedados y helados,Ana Trujillo,Mexico
3,Antonio Moreno Taquería,Antonio Moreno,Mexico
4,Around the Horn,Thomas Hardy,UK
5,Berglunds snabbköp,Christina Berglund,Sweden

In [31]:
set IDENTITY_INSERT Orders ON;

In [32]:
insert into Orders(order_id, customer_id, order_date, ship_country)
values (6,2,'2019-04-15','India'),
(7,1,'2019-04-1','China'),
(8,3,'2019-04-19','India'),
(9,5,'2019-04-23','Bangladesh')
;

In [33]:
select * from Orders
where month(order_date) = 4

order_id,customer_id,order_date,ship_country
6,2,2019-04-15,India
7,1,2019-04-01,China
8,3,2019-04-19,India
9,5,2019-04-23,Bangladesh

In [34]:
select * from Products;

product_id,product_name,category_id,unit_price
1,Chai,1,18.00
2,Chang,1,19.00
3,Aniseed Syrup,2,10.00
4,Chef Anton's Cajun Seasoning,2,22.00
5,Chef Anton's Gumbo Mix,2,21.35
6,Grandma's Boysenberry Spread,2,25.00
7,Uncle Bob's Organic Dried Pears,7,30.00
8,Northwoods Cranberry Sauce,2,40.00
9,Mishi Kobe Niku,6,97.00
10,Ikura,8,31.00

In [68]:
select * from Order_Details;

order_detail_id,order_id,product_id,unit_price,quantity
1,1,1,18.00,10
2,2,2,19.00,20
3,3,3,10.00,30
4,4,4,22.00,40
5,5,5,21.35,50
6,1,6,25.00,5
7,2,7,30.00,15
8,3,8,40.00,25
9,4,9,97.00,35
10,5,10,31.00,45
11,6,1,18.00,5
12,6,5,21.35,20
13,7,4,22.00,50
14,7,6,25.00,55
15,8,5,21.35,20
16,8,4,22.00,12
17,9,8,40.00,12
18,9,2,30.00,12
19,7,10,40.00,12
20,8,2,19.00,12

In [40]:
set IDENTITY_INSERT Orders OFF;
set IDENTITY_INSERT Order_Details ON;
insert into Order_Details (order_detail_id,order_id,product_id,unit_price,quantity)
values (11, 6, 1, 18.00, 5),
(12, 6, 5, 21.35, 20),
(13, 7, 4, 22.00, 50);

In [41]:
select * from Products;

product_id,product_name,category_id,unit_price
1,Chai,1,18.00
2,Chang,1,19.00
3,Aniseed Syrup,2,10.00
4,Chef Anton's Cajun Seasoning,2,22.00
5,Chef Anton's Gumbo Mix,2,21.35
6,Grandma's Boysenberry Spread,2,25.00
7,Uncle Bob's Organic Dried Pears,7,30.00
8,Northwoods Cranberry Sauce,2,40.00
9,Mishi Kobe Niku,6,97.00
10,Ikura,8,31.00

In [42]:
insert into Order_Details (order_detail_id,order_id,product_id,unit_price,quantity)
values 
(14, 7, 6, 25.00, 55),
(15, 8, 5, 21.35, 20),
(16, 8, 4, 22.00, 12),
(17, 9, 8, 40.00, 12),
(18, 9, 2, 30.00, 12),
(19, 7, 10, 40.00, 12),
(20, 8, 2, 19.00, 12)
;

<span style="color: rgb(209, 213, 219); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; white-space: pre-wrap; background-color: rgb(68, 70, 84);">Write a SQL query to retrieve the top 10 products by total revenue generated in the year 2022.</span>

In [51]:
select P.product_id, product_name, revenue
from Products P
INNER JOIN (
    select top 5 product_id, sum(unit_price*quantity) as revenue from Order_Details
    group by product_id
    order by revenue DESC
) OD
on P.product_id = OD.product_id

product_id,product_name,revenue
9,Mishi Kobe Niku,3395.00
4,Chef Anton's Cajun Seasoning,2244.00
5,Chef Anton's Gumbo Mix,1921.50
10,Ikura,1875.00
6,Grandma's Boysenberry Spread,1500.00

In [56]:
select top 5 product_name, sum(P.unit_price*quantity) as revenue
from Products P
INNER JOIN Order_Details OD
on P.product_id = OD.product_id
group by P.product_id, P.product_name
ORDER by revenue desc

product_name,revenue
Mishi Kobe Niku,3395.00
Chef Anton's Cajun Seasoning,2244.00
Chef Anton's Gumbo Mix,1921.50
Ikura,1767.00
Grandma's Boysenberry Spread,1500.00

<span style="color: rgb(209, 213, 219); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; white-space: pre-wrap; background-color: rgb(68, 70, 84);">Write a SQL query to retrieve the number of customers by country, sorted by the number of customers in descending order.</span>

In [60]:
SELECT country, count(customer_id) as "Count of Customers" from Customers
group by country
order by "Count of Customers" DESC

country,Count of Customers
Mexico,2
Sweden,1
UK,1
Germany,1

In [64]:
SELECT * from Customers;

customer_id,company_name,contact_name,country
1,Alfreds Futterkiste,Maria Anders,Germany
2,Ana Trujillo Emparedados y helados,Ana Trujillo,Mexico
3,Antonio Moreno Taquería,Antonio Moreno,Mexico
4,Around the Horn,Thomas Hardy,UK
5,Berglunds snabbköp,Christina Berglund,Sweden

<span style="color: rgb(209, 213, 219); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; white-space: pre-wrap; background-color: rgb(68, 70, 84);">Write a SQL query to retrieve the average order value for each customer.</span>

In [65]:
select contact_name, AVG(quantity*unit_price) as avg_order_val
from Customers C
INNER JOIN Orders O
on O.customer_id = C.customer_id
INNER join Order_Details OD
on O.order_id = OD.order_id
group by contact_name
;

contact_name,avg_order_val
Ana Trujillo,336.750000
Antonio Moreno,443.800000
Christina Berglund,825.625000
Maria Anders,652.000000
Thomas Hardy,2137.500000

In [66]:
SELECT customer_id, AVG(total_price) AS avg_order_value
FROM (
  SELECT o.customer_id, o.order_id, SUM(od.unit_price * od.quantity) AS total_price
  FROM Orders o
  JOIN Order_Details od ON o.order_id = od.order_id
  GROUP BY o.customer_id, o.order_id
) subquery
GROUP BY customer_id;

customer_id,avg_order_value
1,1630.000000
2,673.500000
3,1109.500000
4,4275.000000
5,1651.250000

<span style="color: rgb(209, 213, 219); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; white-space: pre-wrap; background-color: rgb(68, 70, 84);">Write a SQL query to retrieve the products that have never been ordered.</span>

In [70]:
delete from Order_Details
where product_id = 10

In [71]:
select P.product_name
from Products P
left join Order_Details OD
on P.product_id = OD.product_id
where order_detail_id is null;

product_name
Ikura

In [73]:
select product_name
from Products
where product_id not in (select product_id
    from Order_Details
)

product_name
Ikura

Write a <span style="color: #0000ff;">SQL</span> query <span style="color: #0000ff;">to</span> calculate the <span style="color: #0000ff;">percentage</span> of total revenue for each product category <span style="color: #0000ff;">in</span> the <span style="color: #0000ff;">year</span> <span style="color: #09885a;">2022</span>. Display the results <span style="color: #0000ff;">in</span> descending <span style="color: #0000ff;">order by</span> <span style="color: #0000ff;">percentage</span>.

In [86]:
select category_id,
sum(quantity*P.unit_price) as total_rev, 
sum(quantity*P.unit_price)/(select sum(quantity*unit_price) from Order_Details) * 100 as total_rev_percent
from Products P
left join Order_Details OD
on P.product_id = OD.product_id
where quantity is not NULL
group by category_id
ORDER by total_rev DESC

category_id,total_rev,total_rev_percent
2,7445.50,59.428500
6,3395.00,27.098200
1,1106.00,8.827800
7,450.00,3.591800

<span style="color: rgb(209, 213, 219); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; white-space: pre-wrap; background-color: rgb(68, 70, 84);">Write a SQL query to retrieve the top 5 customers by total number of orders, where each order is at least $1000 in value.</span>

In [96]:
select top 5 contact_name, count(O.order_id) as "Order Count"
from Customers C
left join Orders O
on C.customer_id = O.customer_id
left join (select order_id
            from Order_Details OD
            group by order_id
            having sum(quantity*unit_price) >= 1000
            ) as OD
on O.order_id = OD.order_id
group by contact_name
order by "Order Count" DESC

contact_name,Order Count
Maria Anders,2
Christina Berglund,2
Antonio Moreno,2
Ana Trujillo,2
Thomas Hardy,1

<span style="color: rgb(209, 213, 219); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; white-space: pre-wrap; background-color: rgb(68, 70, 84);">Write a SQL query to retrieve the customers who have ordered from at least 4 different countries, and have spent at least $10,000 in total.</span>

In [107]:
select contact_name
from Customers C
inner join (select customer_id, count(distinct ship_country) as no_of_countries, sum(quantity*unit_price) as total_order_qty
            from Orders O
            left join Order_Details OD
            on O.order_id = OD.order_id
            group by customer_id
            having sum(quantity*unit_price) > 2000 and APPROX_COUNT_DISTINCT(ship_country) >=2) O
on C.customer_id = O.customer_id

contact_name
Maria Anders

4. Write a SQL query to retrieve the products that have been ordered at least once in each year from 2019 to 2023.

In [124]:
select order_year, product_name
from Products P
left join (select product_id, YEAR(order_date) as order_year
            from Orders O
            left join Order_Details OD
            on OD.order_id = O.order_id) OD1
on P.product_id = OD1.product_id
where order_year is not NULL
order by order_year

order_year,product_name
2019,Chef Anton's Gumbo Mix
2019,Grandma's Boysenberry Spread
2019,Uncle Bob's Organic Dried Pears
2019,Northwoods Cranberry Sauce
2019,Chai
2019,Chang
2019,Aniseed Syrup
2020,Chef Anton's Cajun Seasoning
2020,Mishi Kobe Niku
2021,Chai
2021,Chef Anton's Gumbo Mix
2022,Chef Anton's Cajun Seasoning
2022,Grandma's Boysenberry Spread
2022,Chef Anton's Gumbo Mix
2022,Chef Anton's Cajun Seasoning
2022,Chang
2023,Northwoods Cranberry Sauce
2023,Chang

In [127]:
SELECT p.product_id, p.product_name
FROM Products p
JOIN Order_Details od ON p.product_id = od.product_id
JOIN Orders o ON od.order_id = o.order_id
WHERE o.order_date >= '2019-01-01' AND o.order_date < '2024-01-01'
GROUP BY p.product_id, p.product_name
HAVING COUNT(DISTINCT YEAR(o.order_date)) = 5;