In [1]:
from faker import Faker
import random
import pandas as pd

In [2]:
from sqlalchemy import create_engine
engine = create_engine("sqlite:///C:\\Users\\shubh\\AppData\\Roaming\\DBeaverData\\workspace6\\.metadata\\sample-database-sqlite-1\\Chinook.db")

# Creating Salary Table

In [16]:
my_dict = {}
for i in range(1,9):
    my_dict.update({i:[random.randint(1000,10000)]})

In [17]:
my_dict

{1: [7011],
 2: [2370],
 3: [5750],
 4: [8319],
 5: [3862],
 6: [1818],
 7: [7588],
 8: [3933]}

In [24]:
df = pd.DataFrame(my_dict).transpose().reset_index().rename(columns={'index':'Emp_ID',0:'Salary'})

In [25]:
df.head()

   Emp_ID  Salary
0       1    7011
1       2    2370
2       3    5750
3       4    8319
4       5    3862

In [33]:
df.to_sql('Emp_Salary',con=engine, index=False, if_exists='replace')

8

# Creating Department TAble

In [3]:
dept = {1:['Analytics'],
       2: ['Development'],
       3:['Quality']}

In [4]:
df = pd.DataFrame(dept).transpose().reset_index().rename(columns={'index':'Dept_ID',0:'Department'})

In [5]:
df.to_sql('Department',con=engine, index=False, if_exists='replace')

3

In [6]:
query = '''select * from Employee_New;'''
df = pd.read_sql(query, engine)

In [17]:
Dept_ID = []
for i in df['EmployeeId']:
    Dept_ID.append(random.choice(list(dept.keys())))

In [19]:
df['Dept_ID'] = Dept_ID

In [20]:
df.to_sql('Employee_New',con=engine, index=False, if_exists='replace')

9